{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>Login</h1>

    <form method="post" action=".">
      {% csrf_token %} 
      {{ form.as_p }}

      <input type="submit" value="Üye Girişi" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>Şifrenizi Unuttuysanız: 
        <a href="{% url 'auth_password_reset' %}">Yeni Şifre</a>
    </p>

    <p>Üye Olmak İçin: 
        <a href="{% url 'registration_register' %}">Yeni Üye</a>
    </p>

{% endblock %}

